{% extends "base.html" %}

{% block content %}
    <h1>
      Redactors List
    </h1>
    {% block search_form %}
      {% include "includes/search_form.html" %}
    {% endblock %}
    <br>
    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.id }}</td>
        <td><a href="{% url 'news-agency:redactor-detail' pk=redactor.id %}">{{ redactor.username }} {% if user == redactor %} (Me){% endif %}</a></td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }}</td>
        <td><a class="text-info" href="{% url 'news-agency:redactor-detail' pk=redactor.id %}">DETAIL</a></td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors in the service.</p>
    {% endif %}
  <p><a class="btn btn-secondary" href="{% url 'news-agency:redactor-create' %}">Create new <strong>redactor</strong></a> </p>
{% endblock %}
